@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;1,800&display=swap');

body {
    background-color: hsl(0, 0%, 97%) !important;
    object-fit: cover;
    height: 100vh;
    font-family: "Roboto", serif !important;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    background-color: #F7F7F7;

    img {
        width: 150px;
    }
}

.custom-card {
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
}

.card-title {
    text-transform: uppercase;
    cursor: pointer;
}

.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.custom-card .card-body p {
    transition: max-height 1s ease, opacity 1s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.custom-card .card-body p.visible {
    max-height: 100px;
    opacity: 1;
}

.image-section img {
    overflow: hidden;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}

.return-btn {
    position: sticky;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    background-color: #000;
    border-radius: 100%;

    a {
        color: #fff;
    }
}